@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="page-intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-md-12">
                    <img src="~/assets/img/mobile.png" alt="">
                </div>
                <div class="col-sm-12 col-lg-6 col-md-12 title">
                    <div>
                        <h1>Responsive App Landing Page</h1>

                        <div>
                            <p>Bootstrap Based Responsive Landing Page Template.</p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success">
                                <span class="icon">
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                </span>

                                <span>
                                    Available on the <br>
                                    App Store
                                </span>



                            </button>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-4 ">
                    <div class="service-icon">
                        <i class="fa-solid fa-tablet-screen-button"></i>
                    </div>
                    <div class="service-title">
                        <h3>Responsive Bootstrap Template</h3>
                    </div>
                    <div class="service-text">
                        <p>Lorem ipsum dolizzle sit tellivizzle, boom shackalack adipiscing elit. Nullam mofo velizzle, get down get down stuff, sure cool, dizzle vizzle, arcu. Yo mamma izzle tortizzle</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="service-icon">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                    <div class="service-title">
                        <h3>Easy to Customize</h3>
                    </div>
                    <div class="service-text">
                        <p>Lorem ipsum dolizzle sit tellivizzle, boom shackalack adipiscing elit. Nullam mofo velizzle, get down get down stuff, sure cool, dizzle vizzle, arcu. Yo mamma izzle tortizzle</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="service-icon">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="service-title">
                        <h3>Ideal for Apps or Software</h3>
                    </div>
                    <div class="service-text">
                        <p>Lorem ipsum dolizzle sit tellivizzle, boom shackalack adipiscing elit. Nullam mofo velizzle, get down get down stuff, sure cool, dizzle vizzle, arcu. Yo mamma izzle tortizzle</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slider">
        <div class="container">
            <div class="slide-title">
                <h2>What people say</h2>
            </div>
            <div class=" slide">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p>"Etizzle laoreet doggy dope nisl. Dang pulvinizzle, ipsizzle dawg."</p>
                            <h5>Martin Nizzle</h5>

                        </div>
                        <div class="carousel-item">
                            <p>"Crazy tellus urna, yo mamma check out this, eleifend you son of a bizzle."</p>
                            <h5>Jennifer Aliquizzle</h5>
                        </div>
                        <div class="carousel-item">
                            <p>"Praesent i saw beyonces tizzles and my pizzle went crizzle turpizzle."</p>
                            <h5>William Lorizzle</h5>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </section>
    <section class="contact-us">
        <div class="container">
            <div class="contact-title">
                <h2>Contact us</h2>
                <p>Want to chat? Send us a message. We'd love to hear from you!</p>
            </div>
            <div class="contact-message">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputName">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-12">
                        <label for="inputMessage" class="form-label">Message</label>
                        <input type="text" class="form-control" id="inputMessage">
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
